doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title W3.CSS Links Page
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  body
    div(class='w3-container')
      h1(class='w3-padding') Links
      ul(class='w3-ul')
        each link in links
          li(class='w3-hover-shadow')
            a(href=link, target='_blank')= link
