extends layout
block content
  form(action='/sendOTP', method='post')
    .w3-modal#myModal
      .w3-modal-content(style="width: 30%") 
        header.w3-container.w3-sand
          span.w3-button.w3-display-topright#closeModal &times;
          h2 OTP verification
        .w3-container
          p Please go to the Business Inbox and wait for the OTP sent by Wyndham.
          p Enter the OTP to verify your device.
          p After a minute, the OTP in Wyndham expires. If a minute already passed, please click the "Retry" button.
          input.w3-input.w3-padding-small(type="text", id='OTP', name='OTP', placeholder="Enter OTP", required)         
        footer.w3-container.w3-padding-large
            input(type='submit', value='Retry', class='w3-btn w3-round w3-dark-gray w3-left')
            input(type='submit', value='Send', class='w3-btn w3-round w3-green w3-right')

    script.
      document.addEventListener('DOMContentLoaded', function() {
        let modal = document.getElementById('myModal');
        let closeModalButton = document.getElementById('closeModal');
        
        modal.style.display = 'block';

        closeModalButton.onclick = function() {
          modal.style.display = 'none';
        };
      });