body{
  font-family: 'Helvetica';
}

.w3-input:focus {
  outline: none;
}

.w3-select:focus {
  outline: none;
}

.w3-table td {
  max-width: 220px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

#resorts-table td {
  max-width: 350px; 
}

.linkButton {
  text-decoration: underline;
  background-color: transparent;
  border: none; 
  outline: none; 
  cursor: pointer;
}

.navigate {
  color: #337AB7;
}

.copy {
  color: #000;
}

.clicked {
  color: red; 
}
